<html xmlns="http://www.thymeleaf.org" layout:decorate="~{/question/layout}"> 
<!-- 파일이름 줌. html은 뺌 -->
<!-- layout.html을 상속받겠다는 뜻 -->
<div layout:fragment="content" class="container my-3">
  <h1>/question/create.html</h1>
  <br>
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
     <form th:action="@{/question/create}" method="post" th:object="${questionForm}">       
       <!-- 유효성검사 실패 메세지 출력용도 div -->
       <!-- 반드시 th:object 속성을 설정해야 한다. (@Valid 사용시.)
       		<form>의 입력항목들이 QuestionForm과 연결되는것을 타임리프에 알려주는 역할임
       -->
       
       <!-- #fields.hasAnyErrors() 유효성 검사 실패한 오류 메세지 저장 -->
       <!-- 
       <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
       		<div th:each="error : ${#fields.allErrors()}" th:text="${error}"></div>
       </div> 
       -->
       <div th:replace="~{/question/form_errors::formErrorsFragment}"></div>
     
       <div class="mb-3">
           <label for="subject" class="form-label">제목</label>
           <!-- 
              에러떠도 값 유지시키려면 ? (상태관리!!)
              => th:field 속성 설정 : id, name, value가 모두 자동으로 생성된다. 
           		 th:field="*{subject}" 주고 나면, 태그 안의 id / name 안주고 지워도 된다.
           -->
           <input type="text" th:field="*{subject}" class="form-control">
       </div>
       <div class="mb-3">
           <label for="content" class="form-label">내용</label>
           <textarea  th:field="*{content}" class="form-control" rows="10"></textarea>
       </div>
       <input type="submit" value="저장하기" class="btn btn-primary my-2">
     </form>
</div>
</html>